@inherits Drg.M3.Client.M3ViewPage

<script type="text/javascript">
            @if ((ViewData["label"] as Drg.M3.Domain.Label) != null) { 
            expandTo: "/0/@((ViewData["label"] as Drg.M3.Domain.Label).KeyChain.Replace(".", "/"))/",
             } 
</script>

<option value="@ug.Id" @(Model!=null && Model.UserGroups.Contains(ug) ? "selected" : "")>@ug.Name</option>

        public void Page_Load()
        {
        }